<ion-tabs class="tabs-icon-top tabs-color-active-positive " ng-class="{'tabs-item-hide': $root.hideTabs}">

  <!-- Dashboard Tab -->
  <ion-tab title="" icon-off="icon-food" icon-on="icon-food_h" href="#/food_tab/index" >
    <ion-nav-view name="food_tab-index"></ion-nav-view>
  </ion-tab>
  <!-- Chats Tab -->
  <ion-tab title="" icon-off="icon-my_list" icon-on="icon-my_list_h" href="#/food_tab/my_list">
    <ion-nav-view name="food_tab-my_list"></ion-nav-view>
  </ion-tab>

</ion-tabs>